<h1>New Book</h1>
<%
  pending_blogs = Blog.where(:status => 'pending').order("created_at desc").take(5)
  blog_list = Hash.new
  pending_blogs.each do |blog|
    blog_list[blog.title] = blog.id
  end
%>
<%= form_for @book, :url => "/admin/books" do |f| %>
  <p>
    <%= f.label :blog_id %>
    <%= f.select :blog_id, blog_list %>
  </p>
  <p>
    <%= f.label :stars %><br />
    <%= f.text_field :stars %>
  </p>
  <p>
    Goodreads ID<br />
    <%= f.text_field :gr_id %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
