<style>
	.fizz { display:inline-block; }
	.sidebar { display:inline-block; }
	.content { display:inline-block; }
	.welcome { display:none; }
</style>

<% content_for :title do %>
	<h3 class="logo"><span class="verb">[blog]</span>Insouciantly </h3>
<% end %>

<% content_for :fizz do  %>
	<span class = "fizztext">
		<%= @blog.title %>
		<% if @blog.book %>
			<%= render :partial => "shared/book_stars", :locals => {:book => @blog.book, :size => "0.75", :white => true} %>
		<% end %>
	</span>
	<%= image_tag(@blog.fizz_photo.filepath, :class => "fizz") %>
<% end %>

<%= render :partial => 'shared/blog', :locals => {:blog => @blog, :fizz => false} %>

<% content_for :sidebar do %>
	<% if @blog.page == "about" %>
		<h2>This blog entry is about me!</h2>
		Or possibly about something else that doesn't apply to any of the above categories.<br />
		<span style="font-size:1.25em">Learn more <%= link_to "about insouciantly", about_index_url %>.</span>
	<% end %>
	<% if @blog.project %>
    <h2>This blog is about a project: </h2>
		<%= link_to @blog.project.name + " Project", project_path(@blog.project) %> <br />
		<%= @blog.project.short_description %>
	<% end %>
  <% if !@blog.books.blank? %>
    <h2>This blog is about a book: </h2>
    <% @blog.books.each do |book| %>
      <%= render :partial => "shared/gr_book", :locals => {:book => book, :info => true} %>
		<% end %>
	<% end %>
  <div>
    <% @blog.tags.each do |tag| %>
  		<%= render :partial => "shared/tag", :locals => {:tag => tag} %>
  	<% end %>
  </div>
<% end %>
