<%= content_for :head do %>
  <meta property="og:title" content="<%=blog.title%>" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="<%=blog_url(blog)%>" />
  <% if blog.fizz_photo %> <meta property="og:image" content="<%=image_url(blog.fizz_photo.filepath)%>" /> <% end %>
  <meta property="fb:app_id" content='1393074814355918' />
  <meta property="og:site_name" content="Dress Insouciantly" />
  <meta property="og:description" content="<%= blog.body[0,130].html_safe %>...[keep reading]..." />
<% end %>
<% if fizz %>
  <div class = 'fizz' style = "margin-top:0px">
    <span class = "fizztext">
  		<%= blog.title %>
      <% if blog.book %>
        <%= render :partial => "shared/book_stars", :locals => {:stars => blog.book.stars, :size => "1", :white => true} %>
      <% end %>
  	</span>
    <%= image_tag(blog.fizz_photo.filepath, :class => "fizz") if blog.fizz_photo %>
  </div>
<% end %>

<div style="display:block;width:100%;height:30px;">
  <div class="date" style="padding:2px 0 2px 0;">
    <% if blog.status == "posted" %>
      <%= blog.posted_at.strftime("%B %-d, %Y") %>
    <% else %>
      pending
    <% end %>
  </div>
</div>

<%= blog.body.html_safe %>

<% if blog.not_fizz_photos %>
  <div>
    <%= render :partial => "shared/lightbox", :locals => {:photos => blog.not_fizz_photos, :size => "200" } %>
  </div>
<% end %>

<div class = "tag-container">
	<% blog.tags.each do |tag| %>
		<%= render :partial => "shared/tag", :locals => {:tag => tag} %>
	<% end %>
</div>
<div style="clear:both"></div>
<div class="fb-like" data-href="<%=blog_url(blog)%>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
<div class="fb-comments" data-href="<%=blog_url(blog)%>" data-width="100%" data-numposts="10">
</div>
<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>
