<style>
	.fizz { display:inline-block; }
	.sidebar { display:inline-block; }
	.content { display:inline-block; }
	.welcome { display:none; }
</style>

<% content_for :title do %>
	<h3 class="logo"><span class="verb">[learn]</span>Insouciantly </h3>
<% end %>

<% content_for :fizz do  %>
	<% unless @feature_blog.nil? %>
		<span class = "fizztext">
			<%= @featured_blog.title %>
		</span>
		<%= image_tag(@featured_blog.fizz_photo.filepath, :class => "fizz") %>
	<% else %>
		<span class = "fizztext">
			future tutorials will live here
		</span>
		<%= image_tag("learn.jpg", :class => "fizz") %>
	<% end %>
<% end %>

<% unless @featured_blog.nil? %>
	<%= render :partial => 'shared/blog', :locals => {:blog => @featured_blog, :fizz => false} %>
<% else %>
	I'm still catching up with old posts. Hold tight, there will definitely be something here eventually!
<% end %>

<% content_for :sidebar do %>
	<h2><%= link_to "Other Tutorials", "www.google.com" %></h2>
	<% unless @learn_feed.empty? %>
		<% @learn_feed.each do |blog| %>
			<div class="date"><%= blog.posted_at.strftime("%m/%d/%y")%></div>
			<%= image_tag(blog.fizz_photo.filepath, :width => "100%") %>
			<b><%= link_to blog.title, blog_url(blog) %></b><br />
			<%= truncate(strip_tags(blog.body), length: 130) %>
			<hr />
		<% end %>
	<% end %>
<% end %>
