<!DOCTYPE html>
<html>
<head>
  <title>Insouciantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class = "header">
	<h3 class="logo"><span style="font-family:raleway; font-size:.5em; margin:10px">[dress]</span>Insouciantly </h3>
	<%= link_to(image_tag("icon.png", :height => "30px", :class => "icon"), ) %>
	<%= link_to(image_tag("hamburger.png", :height => "30px", :class => "hamburger"), ) %>
	<ul class = "header-menu">about</ul>
	<ul class = "header-menu">sewing</ul>
	<ul class = "header-menu">weaving</ul>
	<ul class = "header-menu">tutorials</ul>
	<ul class = "header-menu">books</ul>
</div>
<%= image_tag("comingsoon.jpg", :title => "coming soon", :alt => "DRESS INSOUCIANTLY is coming soon!", :width => "100%") %>
<div style="font-family:raleway; font-size:12px; display=block">
	This website and blog will be coming soon! Photo by Caroline Okun of <a href="http://www.brainsarepretty.com">Brains Are Pretty</a>
</div>
<div class = "content" style="height:1080px">
<%= yield %>
</div>
</html>
