<!DOCTYPE html>
<html>
<head>
  <title>Insouciantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class = "header">
	<%= link_to(image_tag("icon2.jpg", :class => "icon"), ) %>
	<%= yield :title %>
	<%= link_to(image_tag("hamburger.jpg", :height => "30px", :class => "hamburger"), ) %>
	<ul class = "header-menu"><%= link_to "about", about_index_url %></ul>
	<ul class = "header-menu"><%= link_to "sewing", sew_index_url %></ul>
	<ul class = "header-menu"><%= link_to "weaving", weave_index_url %></ul>
	<ul class = "header-menu"><%= link_to "tutorials",learn_index_url %></ul>
	<ul class = "header-menu"><%= link_to "books",read_index_url %></ul>
</div>
<div class = "fizz">
	<%= image_tag("transparency2.png", :class => "transparency") %>
	<%= yield :fizz %>
</div>
<div class = "sidebar">
	<%= yield :sidebar %>
</div>
<div class = "content">
	<%= yield %>
</div>
</html>
