<!DOCTYPE html>
<html>
<head>
  <!-- Please call pinit.js only once per page -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <title>Insouciantly</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<div class = "header">
	<div class="icon">
    [d]<span style="font-family:signpainter;font-size:2em;">i</span>
  </div>
  <div class="home">
    <%= link_to "home", root_url %>&nbsp&nbsp&nbsp&nbsp
    <%= link_to "search", tags_path %>
    <%= link_to(image_tag("rss.gif", :width => "30px"), "http://www.dressinsouciantly.com/feed?format=rss") %>
  </div>
	<%= yield :title %>
	<%= link_to(image_tag("hamburger.png", :height => "30px", :class => "hamburger"), ) %>

  <ul style="margin:0px;">
  	<li class = "header-menu"><%= link_to "about", about_index_url %></li>
  	<li class = "header-menu"><%= link_to "sewing", sew_index_url %></li>
  	<li class = "header-menu"><%= link_to "weaving", weave_index_url %></li>
  	<li class = "header-menu"><%= link_to "tutorials",learn_index_url %></li>
  	<li class = "header-menu"><%= link_to "books",read_index_url %></li>
  </ul>
</div>

<div class = "fizz">
  <%= yield :fizz %>
</div>

<div class = "sidebar">
  <%= yield :sidebar %>
</div>

<div class = "content">
  <%= yield %>
</div>

</html>
